body {
    padding: 0;
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.container {
    height: 100vh;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #e7e7e7;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

.logo {
    height: 31px;
}

.share {
    padding: 0px 20px;
}

.menu {
    display: flex;
}

.menu-horizon {
    flex-direction: row;
}

.menu-item {
    padding: 0px 10px;
}

.menu-item a {
    color: #e7e7e7;
}

.media {
    display: flex;
}

.media-horizon {
    flex-direction: row;
    justify-content: space-between;
}

.content {
    margin-top: 24px;
    padding: 0px 50px;
}

.text-center {
    text-align: center;
}